* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html { 
  font-size: 62.5%;
}
.container { 
  display: grid;
  background: white;
  justify-content: flex-end;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-auto-flow: column; /* este es como el flex direccion, aqui le decimos que vaya en columnas y no en row */
  gap: 20px;
}
.container .item:nth-child(1), .container .item:nth-child(2) { 
  background-color: #B6C867;
}
.container .item:nth-child(3), .container .item:nth-child(4) { 
  background: #7EA04D;
}
.item { 
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: center;
  font-size: 4rem;
}
.item p { 
  height: 5rem;
  width: 3rem;
}
.item.line1 p { 
  background: #5D8233;
}
.item.line2 p { 
  background: ;
}