* { 
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html { 
  font-size: 62.5%;
}
.contenedor { 
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px); /* minmax agregamos el minimo o maximo de cada celda para que sea reactive */
  grid-template-rows: repeat(3, auto);/* Repit que ya conocemos pero AUTO es para auto ajustar la altura de la celda  */
}
.item { 
  border: 5px solid #00bcd4;
  font-size: 2rem;
}